<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665582865406-v9kog3is1tj8vdpsvul6h70j6lg1qqem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665582865406-v9kog3is1tj8vdpsvul6h70j6lg1qqem</string>
	<key>API_KEY</key>
	<string>AIzaSyCfq8n4Tg4xi-HIvABBJxCt9StRepY2jwc</string>
	<key>GCM_SENDER_ID</key>
	<string>665582865406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tistory.iospanda.SmokerMaps</string>
	<key>PROJECT_ID</key>
	<string>smokermaps</string>
	<key>STORAGE_BUCKET</key>
	<string>smokermaps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665582865406:ios:d5819ab1ddad0ad528ceaf</string>
	<key>DATABASE_URL</key>
	<string>https://smokermaps.firebaseio.com</string>
</dict>
</plist>